<div id="chatbox" class="container d-flex flex-column rounded mt-5 mb-5 chatbox-container">
    <!-- Intestazione della chat -->
    <div class="p-2 chatbox-header">
        <h1>Comment :</h1>
    </div>

    <!-- Corpo della chat -->
    <div class="flex-grow-1 p-3 d-flex flex-column justify-content-between" id="chatContainer">
        <!-- Messaggi della chat -->
        <div id="chatMessages" class="flex-grow-1 overflow-auto"></div>
    </div>

    <!-- Input per il commento -->
    <div class="d-flex flex-row p-3 align-items-end chatbox-footer">
        <div class="col-1">
            <img id="userAvatar" src="/img/account.png" alt="Immagine profilo" class="profile-image rounded-circle">
        </div>
        <div class="col-11">
            <h3 id="chatUsername">Anonimo</h3>
            <div class="d-flex flex-row align-items-end">
                <div class="flex-grow-1 pe-2">
                    <textarea class="form-control" placeholder="Inserisci messaggio" rows="2" id="messageInput"></textarea>
                </div>
                <div>
                    <button class="btn btn-primary" id="sendMessageBtn">Invia</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/Js/chat.js"></script>
