<footer class="bg-dark text-white pt-5 pb-3">
    <div class="container">
        <!-- Prima sezione: Logo a sinistra -->
        <div class="row mb-4">
            <div class="col-md-4">
                <img src="/img/Logo.jpg" alt="Logo" class="img-fluid rounded footer-logo">
            </div>

            <!-- Seconda sezione: Supporto al centro -->
            <div class="col-md-4 text-center">
                <h5>Contattaci</h5>
                <ul class="list-unstyled">
                    <li><a href="/work-in-progress" class="text-white">Contatti</a></li>
                    <li><a href="/work-in-progress" class="text-white">Carriera</a></li>
                </ul>
            </div>

            <!-- Terza sezione: Seguici su a destra -->
            <div class="col-md-4 text-center">
                <h5>Seguici su</h5>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li><a href="https://www.facebook.com" class="text-white me-3"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.x.com" class="text-white me-3"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com" class="text-white me-3"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com" class="text-white me-3"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Quarta sezione: Link in basso -->
        <div class="row text-center">
            <div class="col">
                <ul class="list-unstyled d-inline-flex">
                    <li class="mx-3"><a href="/work-in-progress" class="text-white">Accessibilità</a></li>
                    <li class="mx-3"><a href="/work-in-progress" class="text-white">Privacy Policy</a></li>
                    <li class="mx-3"><a href="/work-in-progress" class="text-white">Cookies Policy</a></li>
                </ul>
            </div>
        </div>

        <!-- Quinta sezione: Copyright in basso -->
        <div class="row text-center mt-3">
            <div class="col">
                <p>&copy; 2025 CineMagazine Movie Explorer Site</p>
            </div>
        </div>
    </div>
</footer>