<div id="OscarsContainer" class="col">
    <div class="row mb-2">
        <div class=" col span-5"><text id="movie-name"></text></div>
        <div class="movie-year col span-5"><text id="movie-year"></text></div>
        <div class="col span-2"><text id="vincitore"></text></div>
    </div>
    <div class="row mb-2">
        <div class="col span-5"><text id="nominato"></text></div>
        <div class="col span-5"><text id="nome-nom"></text></div>
        <div class="col span-2"></div>
    </div>
    <div class="row mb-2">
        <div class=" col span-4"><text id="anno-nom"></text></div>
        <div class="col span-4"><text id="ncer"></text></div>
        <div class="col span-4"></div>
    </div>
</div>