<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark-blue">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <!--modifica nome dell'immagine logo-->
            <img src="/img/Logo.jpg" alt="Logo" class="logo rounded">
        </a>

        <!-- Navbar toggler per dispositivi mobili -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Voci di menu (centrate) -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link text-light-blue me-5" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light-blue me-5" href="/Films">Film</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light-blue me-5" href="/Oscars">Oscar</a>
                </li>
            </ul>

            <!-- Sezione login/logout -->
            <div id="userSection">
                <a class="nav-link text-light-blue me-5" href="/Login" id="loginLink">Accedi</a>
            </div>
        </div>
    </div>
</nav>
<script scr ="Js/index.js"></script>