
<div class="container-fluid flex-grow-1 pt-2 login-bg login-bg-override">
    <div  class="container mb-5 login">
        <div class="mt-3 myForm align-items-center">
            <h2 class="centerText my-4">Unisciti a noi !</h2>
            <form>
                <div class="mb-3 mt-3">
                    <label id="username">&nbsp Nome Utente:</label>
                    <input type="text" class="form-control" id="user" placeholder="Inserisci il tuo nickname">
                </div>
                <div class="centerText mt-4">
                    <button type="button" class="btn btn-primary mt-3" onclick="returnHome()" >Entra</button> <!--deve tornare alla home-->
                </div>
            </form>
        </div>
    </div>
</div>
<script src = "Js/index_Login.js"></script>