{{> searchOscars}}
<div class="container oscar-container">
    <div class="row" id="OscarsContainer">
        <!-- Oscar search results will be dynamically inserted here -->
    </div>
</div>
<script src="Js/index_OscarsSearched.js"></script>
